# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [4]:
a : int = 7
b : int = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)

9
5
14
3.5

In [5]:
a : int = 11
b : int = 3

print(a % 3)

2

In [6]:
print(2**2)
print(2**3)

4
8

In [7]:
print(12 / 3)

4.0

In [8]:
print(14.8 / 3)

4.933333333333334

In [9]:
print( 14 // 3)

4

Python Assignment Operators

In [10]:
a : int = 7
print(b := 7)

7

In [14]:
a : int = 7
b : int = 2
print(a)
print(b)

7
2

In [12]:
a : int = 7
print(a)
a = a + 2
print(a)

7
9

Python Comparison Operators

In [15]:
a : int = 7
b : int = 10

print( a == b )

False

In [16]:
a : int = 7
b : int = 7

print( a == b )

True

In [17]:
a : int = 7
b : int = 7

print(a >= b)

True

In [18]:
a : int = 7
b : int = 9

print(a <= b)

True

In [19]:
ord('A')

65

In [20]:
chr(65)

'A'

Python Logical Operators

In [21]:
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [22]:
print(True or True or True or True)
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [23]:
name : str = "Qasim"
print(name!="Qasim")

False

Python Identity Operators

In [24]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140715924010816
140715924010816

In [25]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140715924010816
2477335678288

False

Python Membership Operators

In [26]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [27]:
names: list[str] = [chr(i) for i in range(65,91)]
display(names)

"Pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [28]:
a, b, c = ('qasim', 7, 3.0)
print(a)
print(b)
print(c)

qasim
7
3.0

In [29]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0